@use "../abstract/" as *;

.xmb-main > .xmb-title.xmb-column:nth-child(5){
    .xmb-contents{
        margin-top: 70px;
        margin-left: 10px;
        margin-right: 0 !important;
        .submenu.one{
             padding-bottom: 20px;
        }

    }
}