@use "../abstract/" as *;

.xmb-main > .xmb-title.xmb-column:nth-child(4){
    .xmb-contents{
        margin-right: 25px !important;
        .submenu.one{
            margin-left: 10px;
            padding-bottom: 20px;
        }
    }
}